<% @html_styles = "height: 100%;" %>
<% @body_styles = "height: 100%;" %>
<div class="d-flex flex-column justify-content-center align-items-center h-100 w-100">
    <div class="d-flex flex-grow-1 justify-content-center align-items-center w-100">
    <%= simple_form_for @user, url: session_create_path do |f| %>
      <div class="card" style="width: 20%; min-width: 24rem">
        <div class="card-header">
          <%= t '.login' %>
        </div>
        <div data-controller="keyboard" class="card-body">
          <% if flash[:alert] %>
            <div class="alert alert-danger"><%= flash[:alert] %></div>
          <% end %>
          <%= f.input :username, input_html: { autocomplete: "new-password", data: { keyboard_target: "input", action: "focusin->keyboard#show click@window->keyboard#hide" } }  %>
          <%= f.input :password, input_html: { autocomplete: "new-password", data: { keyboard_target: "input", action: "focusin->keyboard#show click@window->keyboard#hide" } } %>
        </div>
        <div class="card-footer text-end">
          <%= f.button :submit, t('.login'), class: 'btn-primary btn-xl-block' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
