<!DOCTYPE html>
<html <%= style_attribute(@html_styles) %>>
  <head>
    <title>Pigw</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body <%= style_attribute(@body_styles) %>>
    <%= render 'common/bootstrap_helper' if Rails.env.development? %>
    <div class="page-wrapper h-100 w-100 d-flex flex-column">
      <%= yield %>
    </div>
    <div id="simple-keyboard" class="simple-keyboard"></div>
  </body>
</html>
<script>
</script>
